server:
  port: 8101

spring:
  application:
    name: yf-exam
  # 数据库配置
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://192.168.11.251:10925/zs_exam?characterEncoding=UTF-8&useUnicode=true&useSSL=false
    username: root
    password: Root@123456

  # Redis配置
  redis:
    database: 0
    host: 127.0.0.1
    port: 6379
    password:
    timeout: 5000

# 日志级别
logging:
  level:
    root: debug
